node_modules/
dist/
build/
.env
.env.local
*.log
.DS_Store
Thumbs.db
.opencode/
code.html
fichier.txt
magnific_je-veu-une-image-fond-bla_gJjJ5fgSXO.png
server/uploads/avatars/*.jpg
server/uploads/avatars/*.png
